<footer class="pageFooter">
  <div class="contentWrapper">
    <div class="grid grid--verticalize">
      <div class="colxs100 colsm100 colmd40 collg40">
        <div class="copyright">
          <div class="grid grid--verticalize">
            <div class="colxs15 colsm10 col--cling">
              <figure><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo-only.png" /></figure>
            </div>
            <div class="colxs85">
              <p>© 2015 Codeship. All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
      <div class="colxs100 colsm100 colmd60 collg60 ta-right">
        <div class="colxs100 col--cling specialSiteLinks">
          <a href="https://codeship.com/tos">Terms of Service</a>
          <a href="https://codeship.com/privacy">Privacy Policy</a>
          <a href="https://codeship.com/security">Security</a>
          <a href="https://codeship.com/imprint">Imprint</a>
        </div>
        <nav class="nav footerNav">
          <ul>
            <li><a class="nav__link" href="https://codeship.com/">Home</a></li>
            <li><a class="nav__link" href="https://codeship.com/pricing">Pricing</a></li>
            <li><a class="nav__link" href="https://codeship.com/features">Features</a></li>
            <li><a class="nav__link" href="https://codeship.com/codeshipped">Codeshipped</a></li>
            <li><a class="nav__link" href="https://codeship.com/customers">Customers</a></li>
            <li><a class="nav__link" href="https://codeship.com/team">Team</a></li>
            <li><a class="nav__link" href="https://codeship.com/documentation" target="_blank">Documentation</a></li>
            <li><a class="nav__link" href="http://blog.codeship.com/">Blog</a></li>
            <li><a class="nav__link" href="https://codeship.com/jobs">Jobs</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.11.9/jquery.velocity.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/ui.js"></script>
