<header class="pageHeader">
  <div class="contentWrapper only-till-sm">
    <h1 class="is-hidden">Codeship</h1>
    <figure class="pageHeader__logo"><a href="https://codeship.com/"><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo.png" /></a></figure>
    <nav class="nav nav--small" id="subNav">
      <ul>
        <li><a class="nav__link has-new-badge" href="https://codeship.com/features/parallelci">Parallelci</a></li>
        <li><a class="nav__link" href="https://codeship.com/resources">Free Resources</a></li>
        <li><a class="nav__link" href="https://codeship.com/codeshipped">Codeshipped</a></li>
        <li><a class="nav__link" href="{{ site.baseurl }}">Documentation</a></li>
        <li><a class="nav__link" href="http://blog.codeship.com">Blog</a></li>
        <li><a class="nav__link" href="https://codeship.com/jobs">Jobs</a></li>
      </ul>
    </nav>
    <nav class="nav" id="mainNav">
      <ul>
        <li><a class="nav__link" href="https://codeship.com/pricing">Pricing</a></li>
        <li><a class="nav__link" href="https://codeship.com/features">Features</a></li>
        <li><a class="nav__link" href="https://codeship.com/customers">Customers</a></li>
        <li><a class="nav__link" href="https://codeship.com/team">Team</a></li>
      </ul>
    </nav>
    <div class="pageHeader__signup">
      <a class="btn has-icon" href="https://codeship.com/sessions/new" id="signin">Sign in <i class="icon fa fa-user"></i></a>
    </div>
  </div>
  <div class="contentWrapper pageHeader__mobile">
    <h1 class="is-hidden">Codeship</h1>
    <button class="btn btn--mobileMenu js-mobileMenu"><i class="icon fa fa-bars"></i></button>
    <figure class="pageHeader__logo"><a href="https://codeship.com/"><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo-only.png" /></a></figure>
    <nav class="nav nav--mobileMenu">
      <ul>
        <li><a class="nav__link" href="https://codeship.com/pricing">Pricing</a></li>
        <li><a class="nav__link" href="https://codeship.com/features">Features</a></li>
        <li><a class="nav__link" href="https://codeship.com/features/parallelci">Parallelci</a></li>
        <li><a class="nav__link" href="https://codeship.com/codeshipped">Codeshipped</a></li>
        <li><a class="nav__link" href="https://codeship.com/customers">Customers</a></li>
        <li><a class="nav__link" href="https://codeship.com/team">Team</a></li>
        <li><a class="nav__link" href="http://blog.codeship.com">Blog</a></li>
        <li><a class="btn btn--primary is-success" href="https://codeship.com/">Codeship Homepage</a></li>
      </ul>
    </nav>
  </div>
</header>
