<!-- configure some basic information for mixpanel -->
<script>  
  if (mixpanel.hasOwnProperty("get_property") == false) {
    mixpanel.register({ "user_type" : "guest" });
  }

  var query = window.location.search.substring(1);
  var vars = query.split("&");
  var params = {};
  for(var i = 0; i < vars.length; i++) {
    var pair = vars[i].split("=");
    params[pair[0]] = pair[1];
  }

  var properties = {
    "NEW - First Ever Seen Date"         : new Date().toUTCString(),
    "NEW - First Ever Landed Page Title" : document.title,
    "NEW - First Ever Landed Page URL"   : document.URL,
    "NEW - First Ever UTM Campaign"      : params["utm_campaign"],
    "NEW - First Ever UTM Content"       : params["utm_content"],
    "NEW - First Ever UTM Source"        : params["utm_source"],
    "NEW - First Ever UTM Medium"        : params["utm_medium"],
    "NEW - First Ever UTM Term"          : params["utm_term"]
  };

  mixpanel.register_once(properties);
  mixpanel.people.set_once(properties);

  mixpanel.track("NEW - Page Viewed", {
    "NEW - Current Page Title"            : document.title,
    "NEW - Current Page URL"              : document.URL,
    "NEW - Current Domain"                : "docs.codeship.com",
    "NEW - Counts As Landingpage Traffic" : "No"
  });
</script>
